/* general */
body
{
  font-size-adjust: 0.5;
}
.ui-content
{
  overflow: hidden;
}
#container
{
  padding: 0px;
  position : absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.ui-popup-screen
{
  z-index: 999;
}
/* header */
.header-button
{
  float: left;
  height: 1.45em;
  width: 1.45em;
  padding: 0.65em;;
}
.header-button img
{
  height: 1.45em;
}
#clock-touch
{
  z-index: 100;
}
/* tabs */
.tab
{
  width: 0;
  height: 4em;
  border-left: 2em solid #2a2a2a;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  z-index: 1001;
  position: absolute;
  left: 0em;
}
.tab img
{
  position: relative;
  left: -1.7em;
  top: 1.2em;
  height: 1.45em;
}
.tab:nth-of-type(1)
{
  top: 1.8em;
}
.tab:nth-of-type(2)
{
  top: 7.8em;
}
.tab:nth-of-type(3)
{
  top: 13.8em;
}
/* panel */
#leftPanel
{
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1002;
}
.panelsGroup
{
  height: 100%;
  position: absolute;
  top: 0;
}
.leftPanels
{
  display: none;
  background-color: #2a2a2a;
  height: 100%;
  width: 15em;
}
.panelContent
{
  height: calc(100% - 1.8em);
  overflow-y:auto;
  overflow-x:hidden;
}
.panelSubContent
{
  height: calc(100% - 1.8em - 1.5em);
  overflow-y:auto;
  overflow-x:hidden;
}
.panelTitle
{
  width: 100%;
  height: 1.8em;
  background-color: #1d1d1d;
}
.panelTitle h3
{
  margin: 0.1em;
  float: left;
}
.panelTitle img
{
  height: 1.2em;
  margin: 0.1em;
  float: right;
}
.panelSubTitle
{
  width: 100%;
  height: 1.5em;
  background-color: #333333;
}
.panelSubTitle h4
{
  margin: 0.1em;
  float: left;
  width: 13em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panelSubTitle img
{
  height: 1.2em;
  margin: 0.1em;
  float: right;
}
.leftPanels ul
{
  list-style: none;
  width: 13em;
  padding: 0em;
  padding-left: 1em;
  margin: 0em;
}
/* main menu*/
#mainMenu li
{
  left: -1em;
  padding: 0;
  margin: 0;
  width: 15em;
}
.collapsible_header
{
  font-size: 1.2em;
}
.collapsible_item
{
  font-size: 0.9em;
  color: #bdbdbd;
}
/* insert menu */
.insertMenus li
{
  width: 0em;
}
.insertMenuItem
{
  width: 7em;
  height: 6.5em;
  margin-left: 1.5em;
}
.insertMenuItem img
{
  height: 5em;
  max-width: 6em;
}
.insertMenuItem h1
{
  font-size: 1em;
  margin: 0em;
  width: 100%;
}
.insertMenuItemLight img
{
  height:4em;
  margin-top:0.6em;
}
/* world tree */
.treeItem
{
  font-size: 1em;
  line-height: 2em;
  padding: 0;
  width: 15em;
  clear: both;
  margin-left: -1em;
}
.treeItemImg
{
  height: 2em;
  width: 3.5em;
  text-align: center;
  float: left;
}
.treeItemImg img
{
  height: 1.2em;
  vertical-align: middle;
}
.treeItemTitle
{
  height: 2em;
  width: 10.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.unselectedTreeItem
{
  background-color: #2a2a2a;
}
.selectedTreeItem
{
  background-color: #aaaaaa;
}
/* property panel */
.proertyPanelImg
{
  text-align: center;
  clear: both;
}
.proertyPanelImg img
{
  height: 5em;
}
.propertyHeader
{
  float: left;
  width: 7.5em;
  text-align: center;
  background-color: #aaaaaa;
}
.propertyHeader h4
{
  margin: 0;
}
.properties
{
  width: 7.5em;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.propertyName
{
  font-weight:bolder;
  padding-left: 1em;
  width: 6.5em;
}
.expandableProperty
{
  font-weight:bolder;
  padding-left: 0.2em;
  width: 14.5em;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.expandableProperty img
{
  height: 0.7em;
}
.expandable
{
  display: none;
}
.expandableItemName
{
  font-weight:bolder;
  padding-left: 1em;
  width: 6.5em;
}
.expandableItemValue
{
  width: 5em;
}
/* model popup */
#model-popup
{
  width: 12em;
  height: 0em;
  border: none;
}
/* narrow screens*/
@media (max-width: 35em)
{
  /* panel */
  .leftPanels
  {
    width: 10.5em;
  }
  .leftPanels ul
  {
    width: 8.5em;
  }
  .panelSubTitle h4
  {
    width: 8.5em;
  }
  /* main menu */
  #mainMenu li
  {
    width: 10.5em;
  }
  /* insert menu */
  .insertMenuItem
  {
    width: 4.6em;
    height: 4.3em;
    margin-left: 0.5em;
  }
  .insertMenuItem img
  {
    height: 3.3em;
    max-width: 4em;
  }
  .insertMenuItem h1
  {
    font-size: 0.7em;
  }
  .insertMenuItemLight img
  {
    height:2.7em;
    margin-top:0.4em;
  }
  /* world tree */
  .treeItem
  {
    width: 10.5em;
  }
  .treeItemTitle
  {
    width: 6.5em;
  }
}
/* short screens*/
@media (max-height: 35em)
{
  /* tabs */
  .tab
  {
    height: 2em;
  }
  .tab img
  {
    left: -1.6em;
    top: 0.4em;
    height: 1.3em;
  }
  .tab:nth-of-type(1)
  {
    top: 1.8em;
  }
  .tab:nth-of-type(2)
  {
    top: 5.8em;
  }
  .tab:nth-of-type(3)
  {
    top: 9.8em;
  }
}
