/* general */
body
{
  font-size-adjust: 0.5;
}
.ui-content
{
  overflow: hidden;
}
#container
{
  padding: 0px;
  position : absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.ui-popup-screen
{
  z-index: 999;
}
/* tabs */
.tab
{
  width: 0;
  height: 4em;
  border-left: 2em solid #2a2a2a;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  z-index: 1001;
  position: absolute;
  left: 0em;
}
.tab img
{
  position: relative;
  left: -1.7em;
  top: 1.2em;
}
.tab:nth-of-type(1)
{
  top: 1.8em;
}
.tab:nth-of-type(2)
{
  top: 7.8em;
}
/* panel */
#leftPanel
{
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1002;
}
.leftPanels
{
  display: none;
  background-color: #2a2a2a;
  height: 100%;
  width: 15em;
}
.panelContent
{
  height: calc(100% - 1.8em);
  overflow:auto;
}
.panelSubContent
{
  height: calc(100% - 1.8em - 1.5em);
  overflow:auto;
}
.panelTitle
{
  width: 100%;
  height: 1.8em;
  background-color: #1d1d1d;
}
.panelTitle h3
{
  margin: 0.1em;
  float: left;
}
.panelTitle img
{
  height: 1.2em;
  margin: 0.1em;
  float: right;
}
.panelSubTitle
{
  width: 100%;
  height: 1.5em;
  background-color: #333333;
}
.panelSubTitle h4
{
  margin: 0.1em;
  float: left;
}
.panelSubTitle img
{
  height: 1.2em;
  margin: 0.1em;
  float: right;
}
.leftPanels ul
{
  list-style: none;
  width: 13em;
  padding: 0em;
  padding-left: 1em;
  margin: 0em;
}
/* main menu*/
#mainMenu li
{
  left: -1em;
  padding: 0;
  margin: 0;
  width: 15em;
}
.collapsible_header
{
  font-size: 1.2em;
}
.collapsible_item
{
  font-size: 0.9em;
  color: #bdbdbd;
}
/* insert menu */
.insertMenus li
{
  width: 0em;
}
.insertMenuItem
{
  width: 7em;
  height: 6.5em;
  margin-left: 1.5em;
}
.insertMenuItem img
{
  height: 5em;
  max-width: 6em;
}
.insertMenuItem h1
{
  font-size: 1em;
  margin: 0em;
  width: 100%;
}
.insert-menu-item-light img {
          height:4em;
          margin-top:0.6em;
      }
/* smaller panel for narrow screens*/
@media (max-width: 35em)
{
  /* panel */
  .leftPanels
  {
    width: 10.5em;
  }
  .leftPanels ul
  {
    width: 8.5em;
  }
  /* main menu */
  #mainMenu li
  {
    width: 10.5em;
  }
  /* insert menu */
  .insertMenuItem
  {
    width: 4.6em;
    height: 4.3em;
    margin-left: 0.5em;
  }
  .insertMenuItem img
  {
    height: 3.3em;
    max-width: 4em;
  }
  .insertMenuItem h1
  {
    font-size: 0.7em;
  }
  .insert-menu-item-light img {
          height:2.7em;
          margin-top:0.4em;
        }
}

