/* toolbar */
.ui-button .ui-icon.toolbar-box {
    background-image: url(images/box.png);
    width: 16;
    height: 16;
}

.ui-button.ui-state-hover .ui-icon.toolbar-box {
    background-image: url(images/box.png);
    width: 16;
    height: 16;
}

.ui-button .ui-icon.toolbar-sphere {
    background-image: url(images/sphere.png);
    width: 16;
    height: 16;
}

.ui-button.ui-state-hover .ui-icon.toolbar-sphere {
    background-image: url(images/sphere.png);
    width: 16;
    height: 16;
}

.ui-button .ui-icon.toolbar-cylinder {
    background-image: url(images/cylinder.png);
    width: 16;
    height: 16;
}

.ui-button.ui-state-hover .ui-icon.toolbar-cylinder {
    background-image: url(images/cylinder.png);
    width: 16;
    height: 16;
}

.ui-button .ui-icon.toolbar-arrow {
    background-image: url(images/arrow.png);
    width: 16;
    height: 16;
}

.ui-button.ui-state-hover .ui-icon.toolbar-arrow {
    background-image: url(images/arrow.png);
    width: 16;
    height: 16;
}

.ui-button .ui-icon.toolbar-translate {
    background-image: url(images/translate.png);
    width: 16;
    height: 16;
}

.ui-button.ui-state-hover .ui-icon.toolbar-translate {
    background-image: url(images/translate.png);
    width: 16;
    height: 16;
}

.ui-button .ui-icon.toolbar-rotate {
    background-image: url(images/rotate.png);
    width: 16;
    height: 16;
}

.ui-button.ui-state-hover .ui-icon.toolbar-rotate {
    background-image: url(images/rotate.png);
    width: 16;
    height: 16;
}

/* menu */
.ui-menu {
    overflow: hidden;
}
.ui-menu .ui-menu {
    overflow: visible !important;
}
.ui-menu > li {
    float: left;
    display: block;
    width: auto !important;
}
.ui-menu ul li {
    display:block;
    float:none;
}
.ui-menu ul li ul {
    left:120px !important;
    width:100%;
}
.ui-menu ul li ul li {
    width:auto;
}
.ui-menu ul li ul li a {
    float:left;
}
.ui-menu > li {
    margin: 3px 5px !important;
    padding: 0 0 !important;
}
.ui-menu > li > a {
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}
.ui-menu .ui-menu-icon {
    margin-top: 0.3em !important;
}
.ui-menu .ui-menu .ui-menu li {
    float: left;
    display: block;
}

