# Build Outputs
build
gz3d/build
build_*

# Just Mac Things
.DS_Store

# Just IDE Things
.vscode

# Etc
*.*~
*~
*.orig
*.swp
http/client/assets
node_modules
http/client
coverage
doc
npm-debug.log
test_results
