<!DOCTYPE html>
<html lang="en" ng-app='gzangular'>
  <head>
    <title>gz3d</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <link rel="stylesheet" href="style/jquery-mobile/jquery.mobile-1.4.0.css"/>
    <script src="js/include/jquery-1.9.1.js"></script>
    <script src="js/include/jquery.mobile-1.4.0.min.js"></script>
    <script src="js/include/angular.min.js"></script>
    <script src="js/include/three.js"></script>
    <script src="js/include/OrbitControls.js"></script>
    <script src="js/include/Detector.js"></script>
    <script src="js/include/stats.min.js"></script>
    <script src="js/include/eventemitter2.js"></script>
    <script src="js/include/roslib.js"></script>
    <script src="js/include/ColladaLoader.js"></script>
    <script src="js/include/CopyShader.js"></script>
    <script src="js/include/SSAOShader.js"></script>
    <script src="js/include/EffectComposer.js"></script>
    <script src="js/include/RenderPass.js"></script>
    <script src="js/include/MaskPass.js"></script>
    <script src="js/include/ShaderPass.js"></script>
    <script src="gz3d.js"></script>
    <link rel="stylesheet" href="style/gz3d.css"/>
  </head>

  <script id="heightmapVS" type="x-shader/x-vertex">
    varying vec2 vUv;
    varying vec3 vPosition;
    varying vec3 vNormal;

    void main( void ) {
      vUv = uv;
      vPosition = position;
      vNormal = normal;

      gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }
  </script>

  <script id="heightmapFS" type="x-shader/x-fragment">

    uniform sampler2D texture0;
    uniform sampler2D texture1;
    uniform sampler2D texture2;

    uniform float repeat0;
    uniform float repeat1;
    uniform float repeat2;

    uniform float minHeight1;
    uniform float minHeight2;

    uniform float fadeDist1;
    uniform float fadeDist2;

    uniform vec3 ambient;
    uniform vec3 lightDiffuse;
    uniform vec3 lightDir;

    varying vec2 vUv;
    varying vec3 vPosition;
    varying vec3 vNormal;

    float blend(float distance, float fadeDist) {
      float alpha = distance / fadeDist;
      if (alpha < 0.0) {
        alpha = 0.0;
      }
      if (alpha > 1.0) {
        alpha = 1.0;
      }
      return alpha;
    }

    void main()
    {
      // Texture loading
      vec3 diffuse0 = texture2D( texture0, vUv*repeat0 ).rgb;
      vec3 diffuse1 = texture2D( texture1, vUv*repeat1 ).rgb;
      vec3 diffuse2 = texture2D( texture2, vUv*repeat2 ).rgb;

      // Get base texture
      vec3 fragcolor = diffuse0;

      // texture level 1
      fragcolor = mix(
        fragcolor,
        diffuse1,
        blend(vPosition.z - minHeight1, fadeDist1)
      );

      // texture level 2
      fragcolor = mix(
        fragcolor,
        diffuse2,
        blend(vPosition.z - (minHeight1 + minHeight2), fadeDist2)
      );

      vec3 lightDirNorm = normalize(lightDir);
      float intensity = max(dot(vNormal, lightDirNorm), 0.0);
      vec3 vLightFactor = ambient + lightDiffuse * intensity;
      gl_FragColor = vec4(fragcolor.rgb * vLightFactor, 1.0);
    }
  </script>

  <body>
    <div data-role="page" data-theme="b" data-content-theme="c">

      <!-- left panel -->
      <div id="leftPanel" class="gzGUI">
        <!-- main menu -->
        <div id="mainMenu" class="leftPanels ui-overlay-shadow">
          <div class="clickable panelTitle">
            <h3>Menu</h3>
            <img src="style/images/close.png">
          </div>
          <div class="panelContent">
            <ul>
              <div data-role="collapsible" data-inset="false" data-iconpos="left" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
                <h3><span class="collapsible_header">Edit</span></h3>
                <ul data-role="listview">
                  <li id='reset-world' data-icon="false"><a href="#"><span class="collapsible_item">Reset World</span></a></li>
                  <li id='reset-model' data-icon="false"><a href="#"><span class="collapsible_item">Reset Model Poses</span></a></li>
                  <li id='reset-view' data-icon="false"><a href="#"><span class="collapsible_item">Reset View</span></a></li>
                </ul>
              </div>
              <div data-role="collapsible" data-inset="false" data-iconpos="left" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
                  <h3><span class="collapsible_header">View</span></h3>
                  <ul data-role="listview">
                    <li id='view-collisions' data-icon="false" data-iconpos="right" style="border: none !important;"><a href="#"><span class="collapsible_item">Collisions</span></a></li>
                  </ul>
              </div>
              <div data-role="collapsible" data-inset="false" data-iconpos="left" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
                  <h3><span class="collapsible_header">Options</span></h3>
                  <ul data-role="listview">
                    <li id="snap-to-grid" data-icon="false" data-iconpos="right" style="border: none !important;"><a href="#"><span class="collapsible_item">Snap to Grid</span></a></li>
                    <li id='open-tree-when-selected' data-icon="false" data-iconpos="right" style="border: none !important;"><a href="#"><span class="collapsible_item">Open tree on model selection</span></a></li>
                    <li id='toggle-notifications' data-icon="false" data-iconpos="right" style="border: none !important;"><a href="#"><span class="collapsible_item">Notifications</span></a></li>
                  </ul>
              </div>
            </ul>
          </div>
        </div>
        <!-- insert menu -->
        <div ng-controller="insertControl" class="panelsGroup">
          <div id="insertMenu" class="leftPanels insertMenus ui-overlay-shadow">
            <div class="clickable panelTitle">
              <h3>Insert</h3>
              <img src="style/images/close.png">
            </div>
            <div class="panelContent">
              <ul>
                <li>
                  <a href="#" ng-click="openCategory('simple_shapes')" data-role="button" class="insertMenuItem" title="Shapes">
                    Shapes<br>
                    <img src="style/images/box.png">
                  </a>
                </li>
                <li>
                  <a href="#" ng-click="openCategory('lights')" data-role="button" class="insertMenuItem" title="Lights">
                    Lights<br>
                    <img src="style/images/light_thumb.png">
                  </a>
                </li>
                <li ng-repeat="category in categories">
                  <a href="#" ng-click="openCategory(category.path)" data-role="button" class="insertMenuItem" title="{{category.title}}">
                    {{category.title}}<br>
                    <img src="/assets/{{category.examplePath}}/thumbnails/0.png">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div id="insertMenu-simple_shapes" class="leftPanels insertMenus insertCategory ui-overlay-shadow">
            <div class="clickable panelTitle">
              <h3>Insert</h3>
              <img src="style/images/close.png">
            </div>
            <div class="clickable panelSubTitle">
              <h4>Simple Shapes</h4>
              <img src="style/images/back.png">
            </div>
            <div class="panelSubContent">
              <ul>
                <li>
                  <a href="#" id="insert-entity-box" ng-mousedown="spawnEntity('box')" data-role="button" class="insertMenuItem" title="Box">
                    Box<br>
                    <img src="style/images/box.png">
                  </a>
                </li>
                <li>
                  <a href="#" id="insert-entity-sphere" ng-mousedown="spawnEntity('sphere')" data-role="button" class="insertMenuItem" title="Sphere">
                    Sphere<br>
                    <img src="style/images/sphere.png">
                  </a>
                </li>
                <li>
                  <a href="#" id="insert-entity-cylinder" ng-mousedown="spawnEntity('cylinder')" data-role="button" class="insertMenuItem" title="Cylinder">
                    Cylinder<br>
                    <img src="style/images/cylinder.png">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div id="insertMenu-lights" class="leftPanels insertMenus insertCategory ui-overlay-shadow">
            <div class="clickable panelTitle">
              <h3>Insert</h3>
              <img src="style/images/close.png">
            </div>
            <div class="clickable panelSubTitle">
              <h4>Lights</h4>
              <img src="style/images/back.png">
            </div>
            <div class="panelSubContent">
              <ul>
                <li>
                  <a href="#" id="insert-entity-pointlight" ng-mousedown="spawnEntity('pointlight')" data-role="button" class="insertMenuItem insertMenuItemLight" title="Point Light">
                    Point<br>
                    <img src="style/images/pointlight.png">
                  </a>
                </li>
                <li>
                  <a href="#" id="insert-entity-spotlight" ng-mousedown="spawnEntity('spotlight')" data-role="button" class="insertMenuItem insertMenuItemLight" title="Spot Light">
                    Spot<br>
                    <img src="style/images/spotlight.png">
                  </a>
                </li>
                <li>
                  <a href="#" id="insert-entity-directionallight" ng-mousedown="spawnEntity('directionallight')" data-role="button" class="insertMenuItem insertMenuItemLight" title="Directional Light">
                    Directional<br>
                    <img src="style/images/directionallight.png">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div ng-repeat="category in categories" id="insertMenu-{{category.path}}" class="leftPanels insertMenus insertCategory ui-overlay-shadow">
            <div class="clickable panelTitle">
              <h3>Insert</h3>
              <img src="style/images/close.png">
            </div>
            <div class="clickable panelSubTitle">
              <h4>{{category.title}}</h4>
              <img src="style/images/back.png">
            </div>
            <div class="panelSubContent">
              <ul>
                <li ng-repeat="model in category.models">
                  <a href="#" id="insert-entity-{{model.modelPath}}" ng-mousedown="spawnEntity(model.modelPath)" data-role="button" class="insertMenuItem" title="{{model.modelTitle}}">
                    {{model.modelTitle}}<br>
                    <img src="/assets/{{model.modelPath}}/thumbnails/0.png">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- scene tree -->
        <div ng-controller="treeControl" class="panelsGroup">
          <div id="treeMenu" class="leftPanels ui-overlay-shadow">
            <div class="clickable panelTitle">
              <h3>Scene Tree</h3>
              <img src="style/images/close.png">
            </div>
            <div class="panelContent">
              <ul>
                <!-- models -->
                <div id="modelsTree" data-role="collapsible" data-inset="false" data-iconpos="left" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
                  <h3><span class="collapsible_header">Models</span></h3>
                  <ul data-role="listview">
                    <div class="clickable treeItem {{model.selected}}" ng-repeat="model in models" ng-click="selectEntity(model.name)" ng-right-click="openEntityMenu($event, model.name)" title="{{model.name}}">
                      <div class="treeItemImg"><img src="{{model.thumbnail}}"></div>
                      <div class="treeItemTitle">{{model.name}}</div><br>
                    </div>
                  </ul>
                </div>
                <!-- lights -->
                <div id="lightsTree" data-role="collapsible" data-inset="false" data-iconpos="left" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
                  <h3><span class="collapsible_header">Lights</span></h3>
                  <ul data-role="listview">
                    <div class="clickable treeItem {{light.selected}}" ng-repeat="light in lights" ng-click="selectEntity(light.name)" ng-right-click="openEntityMenu($event, light.name)" title="{{light.name}}">
                      <div class="treeItemImg"><img src="{{light.thumbnail}}"></div>
                      <div class="treeItemTitle">{{light.name}}</div><br>
                    </div>
                  </ul>
                </div>
              </ul>
            </div>
          </div>
          <!-- property panels -->
          <div ng-repeat="model in models" id="propertyPanel-{{model.name}}" class="leftPanels ui-overlay-shadow">
            <div class="clickable panelTitle" ng-click="closePanels()">
              <h3>Scene Tree</h3>
              <img src="style/images/close.png">
            </div>
            <div class="clickable panelSubTitle" ng-click="backToTree()">
              <h4>{{model.name}}</h4>
              <img src="style/images/back.png">
            </div>
            <div class="panelSubContent">
              <div class="proertyPanelImg"><img src="{{model.thumbnail}}"></div>
              <div class="propertyHeader"><h4>Property</h4></div>
              <div class="propertyHeader"><h4>Value</h4></div>
              <div class="properties propertyName">name</div>
              <div class="properties propertyValue">{{model.name}}</div>
              <div class="properties propertyName">is_static</div>
              <div class="properties propertyToggle ui-icon-{{model.is_static.icon}} ui-btn-icon-left">{{model.is_static.title}}</div>
              <div id="expand-pose-{{model.name}}" class="clickable expandableProperty" ng-click="expandProperty('pose', model.name)">
                <img src="style/images/play.png">
                pose
              </div>
              <div id="expandable-pose-{{model.name}}" class="expandable">
                <div class="properties expandableItemName">x</div>
                <div class="properties expandableItemValue">{{model.position.x}}</div>
                <div class="properties expandableItemName">y</div>
                <div class="properties expandableItemValue">{{model.position.y}}</div>
                <div class="properties expandableItemName">z</div>
                <div class="properties expandableItemValue">{{model.position.z}}</div>
                <div class="properties expandableItemName">roll</div>
                <div class="properties expandableItemValue">{{model.orientation.roll}}</div>
                <div class="properties expandableItemName">pitch</div>
                <div class="properties expandableItemValue">{{model.orientation.pitch}}</div>
                <div class="properties expandableItemName">yaw</div>
                <div class="properties expandableItemValue">{{model.orientation.yaw}}</div>
              </div>
              <div ng-repeat="link in model.links">
                <div id="expand-link-{{model.name}}-{{link.shortName}}" class="clickable expandableLink" ng-click="expandProperty('link', model.name, link.shortName)">
                  <img src="style/images/play.png">
                  <div>{{link.shortName}}</div>
                </div>
                <div id="expandable-link-{{model.name}}-{{link.shortName}}" class="expandable">
                  <div class="properties expandableItemName">name</div>
                  <div class="properties expandableItemValue" title="{{link.name}}">{{link.name}}</div>
                  <div class="properties expandableItemName">self_collide</div>
                  <div class="properties propertyToggle ui-icon-{{link.self_collide.icon}} ui-btn-icon-left">{{link.self_collide.title}}</div>
                  <div class="properties expandableItemName">gravity</div>
                  <div class="properties propertyToggle ui-icon-{{link.gravity.icon}} ui-btn-icon-left">{{link.gravity.title}}</div>
                  <div class="properties expandableItemName">kinematic</div>
                  <div class="properties propertyToggle ui-icon-{{link.kinematic.icon}} ui-btn-icon-left">{{link.kinematic.title}}</div>
                  <div class="properties expandableItemName">canonical</div>
                  <div class="properties propertyToggle ui-icon-{{link.canonical.icon}} ui-btn-icon-left">{{link.canonical.title}}</div>
                  <div id="expand-pose-{{model.name}}-{{link.shortName}}" class="clickable expandableProperty" ng-click="expandProperty('pose', model.name, link.shortName)">
                    <img src="style/images/play.png">
                    pose
                  </div>
                  <div id="expandable-pose-{{model.name}}-{{link.shortName}}" class="expandable">
                    <div class="properties expandableItemName">x</div>
                    <div class="properties expandableItemValue">{{link.position.x}}</div>
                    <div class="properties expandableItemName">y</div>
                    <div class="properties expandableItemValue">{{link.position.y}}</div>
                    <div class="properties expandableItemName">z</div>
                    <div class="properties expandableItemValue">{{link.position.z}}</div>
                    <div class="properties expandableItemName">roll</div>
                    <div class="properties expandableItemValue">{{link.orientation.roll}}</div>
                    <div class="properties expandableItemName">pitch</div>
                    <div class="properties expandableItemValue">{{link.orientation.pitch}}</div>
                    <div class="properties expandableItemName">yaw</div>
                    <div class="properties expandableItemValue">{{link.orientation.yaw}}</div>
                  </div>
                  <div id="expand-inertial-{{model.name}}-{{link.shortName}}" class="clickable expandableProperty" ng-click="expandProperty('inertial', model.name, link.shortName)">
                    <img src="style/images/play.png">
                    inertial
                  </div>
                  <div id="expandable-inertial-{{model.name}}-{{link.shortName}}" class="expandable">
                    <div class="properties expandableItemName">mass</div>
                    <div class="properties expandableItemValue">{{link.inertial.mass}}</div>
                    <div class="properties expandableItemName">ixx</div>
                    <div class="properties expandableItemValue">{{link.inertial.ixx}}</div>
                    <div class="properties expandableItemName">ixy</div>
                    <div class="properties expandableItemValue">{{link.inertial.ixy}}</div>
                    <div class="properties expandableItemName">ixz</div>
                    <div class="properties expandableItemValue">{{link.inertial.ixz}}</div>
                    <div class="properties expandableItemName">iyy</div>
                    <div class="properties expandableItemValue">{{link.inertial.iyy}}</div>
                    <div class="properties expandableItemName">iyz</div>
                    <div class="properties expandableItemValue">{{link.inertial.iyz}}</div>
                    <div class="properties expandableItemName">izz</div>
                    <div class="properties expandableItemValue">{{link.inertial.izz}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-repeat="light in lights" id="propertyPanel-{{light.name}}" class="leftPanels ui-overlay-shadow">
            <div class="clickable panelTitle" ng-click="closePanels()">
              <h3>Scene Tree</h3>
              <img src="style/images/close.png">
            </div>
            <div class="clickable panelSubTitle" ng-click="backToTree()">
              <h4>{{light.name}}</h4>
              <img src="style/images/back.png">
            </div>
            <div class="panelSubContent">
              <div class="proertyPanelImg"><img src="{{light.thumbnail}}"></div>
              <div class="propertyHeader"><h4>Property</h4></div>
              <div class="propertyHeader"><h4>Value</h4></div>
              <div class="properties propertyName">name</div>
              <div class="properties propertyValue">{{light.name}}</div>
              <div id="expand-pose-{{light.name}}" class="clickable expandableProperty" ng-click="expandProperty('pose', light.name)">
                <img src="style/images/play.png">
                pose
              </div>
              <div id="expandable-pose-{{light.name}}" class="expandable">
                <div class="properties expandableItemName">x</div>
                <div class="properties expandableItemValue">{{light.position.x}}</div>
                <div class="properties expandableItemName">y</div>
                <div class="properties expandableItemValue">{{light.position.y}}</div>
                <div class="properties expandableItemName">z</div>
                <div class="properties expandableItemValue">{{light.position.z}}</div>
                <div class="properties expandableItemName">roll</div>
                <div class="properties expandableItemValue">{{light.orientation.roll}}</div>
                <div class="properties expandableItemName">pitch</div>
                <div class="properties expandableItemValue">{{light.orientation.pitch}}</div>
                <div class="properties expandableItemName">yaw</div>
                <div class="properties expandableItemValue">{{light.orientation.yaw}}</div>
              </div>
              <div id="expand-diffuse-{{light.name}}" class="clickable expandableProperty expandableColor" ng-click="expandProperty('diffuse', light.name)">
                <img src="style/images/play.png">
                diffuse
              </div>
              <div class="properties propertyValue">
                <div class="colorDisplay" style="background-color: rgb({{light.diffuse.r}},{{light.diffuse.g}},{{light.diffuse.b}})"></div>
              </div>
              <div id="expandable-diffuse-{{light.name}}" class="expandable">
                <div class="properties expandableItemName red">red</div>
                <div class="properties expandableItemValue">{{light.diffuse.r}}</div>
                <div class="properties expandableItemName green">green</div>
                <div class="properties expandableItemValue">{{light.diffuse.g}}</div>
                <div class="properties expandableItemName blue">blue</div>
                <div class="properties expandableItemValue">{{light.diffuse.b}}</div>
                <div class="properties expandableItemName">alpha</div>
                <div class="properties expandableItemValue">{{light.diffuse.a}}</div>
              </div>
              <div id="expand-specular-{{light.name}}" class="clickable expandableProperty expandableColor" ng-click="expandProperty('specular', light.name)">
                <img src="style/images/play.png">
                specular
              </div>
              <div class="properties propertyValue">
                <div class="colorDisplay" style="background-color: rgb({{light.specular.r}}, {{light.specular.g}}, {{light.specular.b}})"></div>
              </div>
              <div id="expandable-specular-{{light.name}}" class="expandable">
                <div class="properties expandableItemName red">red</div>
                <div class="properties expandableItemValue">{{light.specular.r}}</div>
                <div class="properties expandableItemName green">green</div>
                <div class="properties expandableItemValue">{{light.specular.g}}</div>
                <div class="properties expandableItemName blue">blue</div>
                <div class="properties expandableItemValue">{{light.specular.b}}</div>
                <div class="properties expandableItemName">alpha</div>
                <div class="properties expandableItemValue">{{light.specular.a}}</div>
              </div>
              <div class="properties propertyName">range</div>
              <div class="properties propertyValue">{{light.range}}</div>
              <div id="expand-attenuation-{{light.name}}" class="clickable expandableProperty" ng-click="expandProperty('attenuation', light.name)">
                <img src="style/images/play.png">
                attenuation
              </div>
              <div id="expandable-attenuation-{{light.name}}" class="expandable">
                <div class="properties expandableItemName">constant</div>
                <div class="properties expandableItemValue">{{light.attenuation.constant}}</div>
                <div class="properties expandableItemName">linear</div>
                <div class="properties expandableItemValue">{{light.attenuation.linear}}</div>
                <div class="properties expandableItemName">quadratic</div>
                <div class="properties expandableItemValue">{{light.attenuation.quadratic}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- left panel -->

      <!-- tabs -->
      <a href="#" id="mainMenuTab" class="gzGUI tab"><img src="style/images/bars.png" title="Menu"></a>
      <a href="#" id="insertMenuTab" class="gzGUI tab"><img src="style/images/insert.png" title="Insert"></a>
      <a href="#" id="treeMenuTab" class="gzGUI tab"><img src="style/images/tree.png" title="Scene Tree"></a>
      <!-- tabs -->

      <!-- header -->
      <fieldset class="gzGUI" id="play-header-fieldset">
        <a href="#" data-role="button" class="header-button" id="play"><span id="playText"><img src="style/images/play.png" title="Play"></span></a>
      </fieldset>

      <fieldset id="clock-header-fieldset"  class="gzGUI touch-only">
        <a href="#" data-role="button" id="clock" class="header-button" data-rel="popup"><span><img src="style/images/clock.png"></span></a>
      </fieldset>

      <fieldset id="clock-mouse" class="gzGUI mouse-only">
        <p style='margin:0px;margin-left:0.2em'>Real Time: <span class='real-time-value'>00 00:00:00</span></p>
        <p style='margin:0px;margin-left:0.45em'>Sim Time: <span class='sim-time-value'>00 00:00:00</span></p>
      </fieldset>

      <div class="gzGUI" id="clock-touch" data-role="popup" data-history="false">
        <p style='margin:0px;margin-left:0.2em'>Real Time: <span class='real-time-value'>00 00:00:00</span></p>
        <p style='margin:0px;margin-left:0.45em'>Sim Time: <span class='sim-time-value'>00 00:00:00</span></p>
      </div>

      <fieldset class="gzGUI" data-role="controlgroup" data-mini="true" data-type="horizontal" id="mode-header-fieldset">
        <input type="radio" name="radio-mini" id="view-mode" value="choice-1" checked="checked" />
        <label for="view-mode"><img style="height:1.8em" src="style/images/arrow.png" title="View Mode (ESC)"></label>

        <input type="radio" name="radio-mini" id="translate-mode" value="choice-2"  />
        <label for="translate-mode"><img style="height:1.8em" src="style/images/translate.png" title="Translation Mode (T)"></label>

        <input type="radio" name="radio-mini" id="rotate-mode" value="choice-3"  />
        <label for="rotate-mode"><img style="height:1.8em" src="style/images/rotate.png" title="Rotation Mode (R)"></label>
      </fieldset>

      <fieldset id="box-header-fieldset" class="gzGUI mouse-only">
        <a href="#" data-role="button" id="header-insert-box" class="header-button"><span><img src="style/images/box.png" title="Insert box"></span></a>
      </fieldset>
      <fieldset id="sphere-header-fieldset" class="gzGUI mouse-only">
        <a href="#" data-role="button" id="header-insert-sphere" class="header-button"><span><img src="style/images/sphere.png" title="Insert sphere"></span></a>
      </fieldset>
      <fieldset id="cylinder-header-fieldset" class="gzGUI mouse-only">
        <a href="#" data-role="button" id="header-insert-cylinder" class="header-button"><span><img src="style/images/cylinder.png" title="Insert cylinder"></span></a>
      </fieldset>

      <fieldset id="pointlight-header-fieldset" class="gzGUI mouse-only">
        <a href="#" data-role="button" id="header-insert-pointlight" class="header-button"><span><img style="height:1.45em;" src="style/images/pointlight.png" title="Insert point light"></span></a>
      </fieldset>
      <fieldset id="spotlight-header-fieldset" class="gzGUI mouse-only">
        <a href="#" data-role="button" id="header-insert-spotlight" class="header-button"><span><img src="style/images/spotlight.png" title="Insert spot light"></span></a>
      </fieldset>
      <fieldset id="directionallight-header-fieldset" class="gzGUI mouse-only">
        <a href="#" data-role="button" id="header-insert-directionallight" class="header-button"><span><img src="style/images/directionallight.png" title="Insert directional light"></span></a>
      </fieldset>
      <!-- header -->

      <!-- content -->
      <div data-role="content" id="container">
        <div data-role="popup" id="notification-popup" data-history="false"></div>
        <div data-role="popup" data-corners="false" id="model-popup" data-history="false">
          <ul data-role="listview">
            <li id="view-transparent" data-corners="false" data-icon="false" data-iconpos="right"><a href="#">Transparent</a></li>
            <li id="view-wireframe" data-corners="false" data-icon="false" data-iconpos="right"><a href="#">Wireframe</a></li>
            <li id="delete-entity" data-corners="false" data-icon="false"><a href="#">Delete</a></li>
          </ul>
        </div>
      </div>
      <!-- content -->

    </div>
    <!-- page -->

    <!-- WebGL -->
    <script>
      if (!Detector.webgl)
        Detector.addGetWebGLMessage();

      var container, stats;
      var scene;

      init();
      animate();

      function init()
      {
        scene = new GZ3D.Scene();
        gui = new GZ3D.Gui(scene);
        iface = new GZ3D.GZIface(scene, gui);

        container = document.getElementById( 'container' );
        container.appendChild(scene.getDomElement());

        // FPS indicator
        stats = new Stats();
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.top = '0px';
        stats.domElement.style.zIndex = 100;
        //container.appendChild( stats.domElement );

        window.addEventListener( 'resize', onWindowResize, false);
      }

      function onWindowResize()
      {
        scene.setWindowSize(window.innerWidth, window.innerHeight);
        $('#clock-touch').popup('close');
      }

      function animate()
      {
        requestAnimationFrame(animate);
        render();
      }

      function render()
      {
        scene.render();
        //stats.update();
      }
    </script>

  </body>
</html>
